<form action="/data" method = "POST">
    <p>Banned Letters <input type = "text" name="bannedLetters"/></p>
    
    <p>Confirmed Letter 1 <input type = "text" name="knownLetter0"/></p>
    <p>Confirmed Letter 2 <input type = "text" name="knownLetter1"/></p>
    <p>Confirmed Letter 3 <input type = "text" name="knownLetter2"/></p>
    <p>Confirmed Letter 4 <input type = "text" name="knownLetter3"/></p>
    <p>Confirmed Letter 5 <input type = "text" name="knownLetter4"/></p>

    <p>Banned Letters 1 <input type = "text" name="impossibleLetter0"/></p>
    <p>Banned Letters 2 <input type = "text" name="impossibleLetter1"/></p>
    <p>Banned Letters 3 <input type = "text" name="impossibleLetter2"/></p>
    <p>Banned Letters 4 <input type = "text" name="impossibleLetter3"/></p>
    <p>Banned Letters 5 <input type = "text" name="impossibleLetter4"/></p>

    <p><input type = "submit" value = "submit"/></p>

</form> 